<header class="header">
    <nav>
        <ul class="navigation-list">
            <li>
                <a mat-flat-button
                    class="navigation-link"
                    routerLink="/list"
                    routerLinkActive="active"
                    ariaCurrentWhenActive="page">Photos</a>
            </li>
            <li>
                <a mat-flat-button
                    class="navigation-link"
                    routerLink="/favorites"
                    routerLinkActive="active"
                    ariaCurrentWhenActive="page">Favorites</a>
            </li>
        </ul>
    </nav>
</header>
<main class="main-content">
    <router-outlet></router-outlet>
</main>

